#menu{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}

#h2{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}

#p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#div1{
    float: left;
    width: 100%;
    background-color: blue;
}

#div2{
    float:left;
    width: 100%;
    background-color: red;

}

#div3{
    float:left;
    width: 100%;
    background-color: green;

}

#div4{
    float:left;
    width: 100%;
    background-color:purple;

}

#esquerdacima{
    float: left;
    background-color: blue;
    margin-top: 10px;
}

#direitacima{
    background-color: purple;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}


#esquerdabaixo{
background-color: red;
float: left;
margin-top: 700px;
margin-left: -190px;
}

#direitabaixo{
background-color: green;
float: right;
margin-top: 700;
margin-right: -170;

}


#esquerdacima2{
    float: left;
    background-color: blue;
    margin-top: 10px;
    border-radius: 60%;
    
}

#direitacima2{
    background-color: purple;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 60%;
}


#esquerdabaixo2{
background-color: red;
float: left;
margin-top: 700px;
margin-left: -190px;
border-radius: 60%;
}

#direitabaixo2{
background-color: green;
float: right;
margin-top: 700;
margin-right: -170;
border-radius: 60%;

}

#divs{
    border-style: solid;
    border-color: green;
    width: 20%;
}
#item1{

    color: yellow;
    background-color: grey;
    width: 90%;
    padding-left: 30;
    
}

#item2{
    color: yellow;
    background-color: grey;
    width: 90%;
    padding-left: 30;

        
}

#item3{
    color: yellow;
    background-color: grey;
    width: 90%;
    padding-left: 30;
    
}

#exe{

    float: left;
    width: 15%;
}

#texto{
    background-color: rgb(156, 151, 151);
    float: left;
    width: 85%;
}










